@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BooksViewModel


    <head>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body class="bg-body bg-">
        <div class="container">
            <div class="row">
                <div class="col-4"><h1></h1></div>
                <div class="col-8"><h1>Not Amazon's Book Store</h1></div>
                @*<div class="col-"><h1></h1></div>*@
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-lg-7">

                    @foreach (Book b in Model.Books)
                    {
                        <h3 class="align-content-center">@b.Title</h3>
                        <ul>
                            <li>Author: @b.Author</li>
                            <li>Category: @b.Category</li>
                            <li>Isbn: @b.Isbn</li>
                            <li>Page Count:@b.PageCount</li>
                            <li>Price: $@b.Price</li>
                            <li>Publisher: @b.Publisher</li>
                            <li>Classificaiton: @b.Classification</li>

                        </ul>
                        <br />
                    }
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6" page-blah="@Model.PageInfo" page-action="Index"></div>

            </div>
        </div>

        <br />

    </body>